{% load static %}
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <style>
        .content {
          border: 2px outset red;
          background-color: lightblue;
          text-align: center;
        }
        .sidebar {
          border: 2px outset red;
          background-color: lightblue;
          text-align: center;
        }
        </style>
</head>
<body>
   <div class='content'>
        {% block content %}
        {% endblock %}
   </div>
   <div class="sidebar">
       <h2>My blog</h2>
       <p>This is my first blog.</p>
   </div>

    

</body>
</html>
